<div class="nice-box">
  <div class="biju-cards">
    <% @bijous.each do |bijou| %>
      <%= link_to edit_bijou_path(bijou), class: "biju-card" do %>
          <div class="">
            <h5 class=""><%= bijou.name %></h5>
<!--             <p class="card-text"><%#= bijou.category %></p>
 -->            <p><%= humanized_money_with_symbol(bijou.price) %></p>
          </div>
      <% end %>
      <% if user_signed_in? %>
        <% if current_user.admin == true %>
          <%= link_to "edit", edit_bijou_path(bijou) %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
